doctype html
html
	head
		meta(charset = "utf-8")
		meta(name = "viewport", content = "initial-scale=1.0, width=device-width")
		title
			block title

		//Promise in IE
		script(src="/node_modules/bluebird/js/browser/bluebird.min.js")

	body
		.wrapper
			block main