h1 accordeon1

.accordeon
	.accordeon__item
		.accordeon__title Заголовок Заголовок Заголовок Заголовок Заголовок Заголовок Заголовок Заголовок Заголовок Заголовок Заголовок Заголовок Заголовок Заголовок Заголовок Заголовок Заголовок Заголовок 
		.accordeon__body  Содержимое

	.accordeon__item
		.accordeon__title Заголовок
		.accordeon__body  Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое Содержимое 

	.accordeon__item
		.accordeon__title Заголовок
		.accordeon__body  Содержимое

	.accordeon__item
		.accordeon__title Заголовок
		.accordeon__body  Содержимое


h1 accordeon2

.accordeon
	.accordeon__item
		.accordeon__title Заголовок
		.accordeon__body  Содержимое

	.accordeon__item
		.accordeon__title Заголовок
		.accordeon__body  Содержимое

	.accordeon__item
		.accordeon__title Заголовок
		.accordeon__body  Содержимое

	.accordeon__item
		.accordeon__title Заголовок
		.accordeon__body  Содержимое


h1 accordeon3

.accordeon
	.accordeon__item
		.accordeon__title Заголовок
		.accordeon__body  Содержимое

	.accordeon__item
		.accordeon__title Заголовок
		.accordeon__body  Содержимое

	.accordeon__item
		.accordeon__title Заголовок
		.accordeon__body  Содержимое

	.accordeon__item
		.accordeon__title Заголовок
		.accordeon__body  Содержимое